html, body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board{
  width: 640px;
  height: 640px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.square{
  width: 80px;
  height: 80px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.square img{
    cursor: pointer;
}



*::selection {

  color: none;

  background: none;

}

/* For Mozilla Firefox */

*::-moz-selection {

  color: none;

  background: none;

}

