html, body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board{
  height: 600px;
  width: 600px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.square{
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img{
    cursor: pointer;
    width: 90%;
    height:90%;
}



*::selection {

  color: none;

  background: none;

}

/* For Mozilla Firefox */

*::-moz-selection {

  color: none;

  background: none;

}

@media screen and (max-width: 700px){
  .Board{
    width: 350px;
    height: 350px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
}
